html,
body {
	margin: 0;
	padding: 0;
	background: #272723;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

h1 {
	font-size: 24px;
	font-weight: 800;
	line-height: 38px;
	letter-spacing: -0.05em;
}

h2 {
	color: #1a1921;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
}

p {
	color: #4e4e4e;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
}

input {
	background: transparent;
	color: #fff;
	font-size: 40px;
	text-align: center;
	width: 120px;
	padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 10px;
}

::placeholder {
	color: #fff;
}

button {
	background: #fff;
	color: #2b75ec;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.container {
	max-width: 500px;
	margin: 50px auto;
}

.top {
	background: linear-gradient(246.26deg, #3b83f7 0%, #06b6d4 100%);
	color: #fff;
	padding: 30px;
}

.bottom {
	background: #fff;
	padding: 30px;
}
